@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circe Rounded';
  src: url('../src/fotns/CirceRounded-Regular4.woff2') format('woff2'),
    url('../src/fotns/CirceRounded-Regular4.woff') format('woff');

  font-weight: 400;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
}
body {
  font-family: 'Circe Rounded';

  background-color: #fdfdff;
  @apply text-textMain;
}
* {
  box-sizing: content-box;
}

@media (min-width: 359.98px) {
  body {
    font-size: 14px;
    line-height: 1.35;
  }
}
@media (min-width: 1023.98px) {
  body {
    font-size: 16px;
  }
}
